/* Estilos generales */
.contenedor-seccion4 {
    padding: 100px 20px; /* Padding arriba y abajo */
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 40px;
    overflow: hidden;
    width: 100%;
    max-width: 1800px;
}

/* Contenedor principal en flexbox */
.flex-container {
    padding: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
}

/* Título de la sección */
.flex-container .section-title {
    width: 26%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container .section-title h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #404041;
    text-transform: uppercase;
    margin: 0 auto;
}

/* Separador entre el texto y la foto */
.flex-container .section-separator  {
    width: 0.1%;
    max-width: 8.6458%;
    background-color: #cccccc;
    height: auto;
}

/* Texto de la sección */
.flex-container .section-text {
    width: 52.39583%;
    position: relative;
}

.flex-container .section-text .text-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #404041;
    margin-bottom: 20px;
}

.text-content ul {
    color: rgb(58, 56, 56);
    font-weight: bold;
    font-size: 1rem;
}

.flex-container .section-text .text-content {
    position: relative;
    padding: 20px;
}

/* Foto de la sección */
.flex-container .section-photo {
    width: 18%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.flex-container .section-photo img {
    width: auto;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

/* Media Queries para pantallas medianas (entre 1788px y 994px) */
@media (max-width: 1788px) and (min-width: 1132px) {
    .flex-container {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-container .section-title,
    .flex-container .section-separator
    {
        width: auto;
    }

    .flex-container .section-photo img {
        height: auto;
    }
}

/* Media Queries para pantallas más pequeñas (hasta 994px) */
@media (max-width: 1132px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .text-content ul {
        padding: 15px 20px;
    }

    .flex-container .section-title {
        width: 100%;
    }

    .flex-container .section-separator {
        display: none;
    }

    .flex-container .section-text {
        width: 100%;
    }

    .flex-container .section-text .text-content {
        padding: 10px;
    }

    .flex-container .section-photo {
        width: 100%;
    }

    .flex-container .section-photo img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
}

/* Media Queries para pantallas más pequeñas (hasta 480px) */
@media (max-width: 480px) {
    .contenedor-seccion4 {
        padding: 60px 10px;
    }

    .flex-container .section-title h2 {
        font-size: 1.5rem;
    }

    .flex-container .section-text .text-content p {
        font-size: 0.9rem;
    }

    .flex-container .section-photo img {
        max-height: 200px;
    }
}
