/* Estilo de la tarjeta Compactacion */
.compactacion-card-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%; /* Ajustamos el ancho al 100% del contenedor principal */
}

.compactacion-card-row {
  display: flex;
  width: 100%; /* Asegura que la tarjeta ocupe el 100% del contenedor */
  height: auto; /* Permite ajustar la altura dinámicamente */
  max-height: 400px; /* Límite máximo de altura */
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.compactacion-card-image {
  flex: 1;
}

.compactacion-card-image img {
  width: 100%;
  height: 100%; /* La imagen ocupará todo el espacio disponible */
  max-height: 500px; /* Límite máximo de altura de la imagen */
  object-fit: cover; /* Asegura que la imagen mantenga las proporciones y llene el contenedor */
}

.compactacion-card-content {
  flex: 1;
  padding: 20px;
}

.compactacion-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.compactacion-card-text {
  font-size: 1rem;
  color: #555;
}

/* Responsivo: Asegura que la tarjeta ocupe el 100% de la pantalla en dispositivos pequeños */
@media (max-width: 768px) {
  .compactacion-card-container {
    flex-direction: column;
    align-items: center;
    width: 100%; /* En pantallas pequeñas, la tarjeta ocupa todo el ancho */
  }

  .compactacion-card-row {
    max-width: 100%;
    max-height: none; /* Permite altura dinámica en pantallas pequeñas */
  }

  .compactacion-card-image img {
    max-height: none; /* Evita cortar la imagen en pantallas pequeñas */
  }
}
