/* Estilo de la tarjeta Nivelaciones */
.Compactacion-card-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%; /* Ajustamos el ancho al 100% del contenedor principal */
}

.Compactacion-card-row {
  display: flex;
  flex-direction: row; /* En pantallas grandes, la imagen está a la izquierda y el texto a la derecha */
  width: 100%; /* Asegura que la tarjeta ocupe el 100% del contenedor */
  height: auto; /* Permite ajustar la altura dinámicamente */
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.Compactacion-card-image {
  flex: 1;
  width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
}

.Compactacion-card-image img {
  width: 100%; /* La imagen debe ocupar el 100% del contenedor */
  height: auto; /* La altura de la imagen será proporcional al ancho */
  object-fit: cover; /* Asegura que la imagen mantenga las proporciones y llene el contenedor */
}

.Compactacion-card-content {
  flex: 1;
  padding: 20px;
}

.Compactacion-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Compactacion-card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px; /* Espaciado adicional entre párrafos o final del texto */
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .Compactacion-card-container {
    width: 90%; /* En pantallas pequeñas, la tarjeta ocupa todo el ancho */
  }

  .Compactacion-card-row {
    flex-direction: column; /* Apilar la imagen arriba y el contenido abajo en pantallas pequeñas */
    max-width: 100%;
    height: auto; /* Permite que la tarjeta se ajuste al contenido */
  }

  .Compactacion-card-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    height: auto; /* Deja que la imagen se ajuste a su tamaño original */
  }

  .Compactacion-card-content {
    padding: 10px; /* Reducir padding en pantallas pequeñas */
  }

  .Compactacion-card-title {
    font-size: 1rem; /* Reducir tamaño de fuente del título */
  }

  .Compactacion-card-text {
    font-size: 0.8rem; /* Reducir el tamaño de fuente del texto */
  }

  .Compactacion-card-image img {
    width: 100%; /* La imagen ocupará el 100% del ancho en pantallas pequeñas */
    height: auto; /* Mantener la proporción de la imagen */
    object-fit: cover; /* Mantener las proporciones sin distorsionarse */
  }
}
