/* Estilo general para el contenedor principal */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.imagen-titulo-container-mov {
  position: relative;
  width: 100%;
  height: 400px; /* Ajusta la altura según tus necesidades */
  background-image: url('./img/maqui.jpg'); /* Establece la imagen de fondo */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}
.imagen-contacto-mov-suelo {
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
  margin-bottom: 50px;
}
.menu-mov-suelo-container {
  background-color: rgba(251, 251, 251, 0.8); /* Verde con 80% de opacidad */
}

/* Estilo general para el contenedor */
.menu-mov-suelo-content {
  width: 100%; /* El contenedor ocupará el 100% del ancho de la página */
  height: auto;
  margin: 0 auto; /* Centra el contenedor en la página */
  padding: 10px 0; /* Añade un poco de espacio en la parte superior e inferior */
  position: relative; /* Necesario para asegurar que los elementos dentro estén sobre la imagen de fondo */
  z-index: 2; /* Asegura que los elementos del contenedor se muestren por encima de la imagen de fondo */
  max-width: 1400px;
}

.menu-mov-suelo-estrellas {
  padding: 20px 10px;
  color: black;
}

/* Estilo para los elementos de la lista (li) */
.menu-mov-suelo-list {
  color: black;
  font-size: 1.2rem;
  font-weight: 100;
}

h1 {
  color: rgba(38, 38, 37, 0.904);
  text-align: center; /* Centra el título */
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 20px 0;
  position: relative; /* Necesario para el pseudo-elemento */
  display: inline-block; /* Hace que el h1 no ocupe todo el ancho y se ajuste al texto */
}

/* Añadir la línea degradada debajo del h1 */
h1::after {
  content: ""; /* El pseudo-elemento no tiene contenido */
  position: absolute;
  bottom: 0; /* Coloca la línea al fondo del h1 */
  left: 0;
  width: 100%; /* Ocupa todo el ancho del h1 */
  height: 2px; /* El grosor de la línea */
  background: linear-gradient(to right, transparent, black, transparent); /* Degradado negro */
  display: block;
}

/* Estilo de la fila */
.menu-mov-suelo-row {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se acomoden en varias filas en pantallas pequeñas */
  justify-content: center; /* Centra los elementos dentro de la fila */
  gap: 20px; /* Espacio entre los elementos */
}

/* Estilo de los componentes hijos (en este caso, ServiciosMovSuelo) */
.menu-mov-suelo-row > * {
  width: 100%; /* Cada componente ocupará el 100% del contenedor disponible */
  max-width: 100%; /* Asegura que no se exceda el 100% del ancho */
  box-sizing: border-box; /* Asegura que el padding y los bordes no afecten el ancho */
}

/* Asegurarse de que las imágenes se ajusten al contenedor sin desbordarse */
/* Asegurar que las imágenes tengan la misma altura */
.menu-mov-suelo-row img {
  width: 100%; /* Las imágenes ocuparán todo el ancho del contenedor */
  height: 480px; /* Fija la altura para que todas sean uniformes */
  object-fit:cover; /* Recorta y ajusta la imagen sin distorsionarla */
}


/* Responsivo: Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .menu-mov-suelo-content {
    width: 100%; /* En pantallas pequeñas, el contenedor ocupará el 100% del ancho */
  }

  h1 {
    font-size: 1.5rem; /* Ajusta el tamaño del título para pantallas pequeñas */
  }

  .menu-mov-suelo-row {
    flex-direction: column; /* En pantallas pequeñas, los elementos de la fila estarán en columna */
    align-items: center; /* Centra los elementos en columnas */
  }
  .imagen-contacto-mov-suelo {
    width: 100%;
    height: auto;
    max-height: 20vh;
    object-fit: cover;
    margin-bottom: 50px;
  }
}
