.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.company-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #010101;
  text-decoration: none;
}




.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0 20px;
  font-size: 1rem;
}

.navbar ul li {
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.navbar ul li:hover {
  background-color: #050505a6;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s, background-color 0.3s ease;
}
.navbar ul li h3 {
  margin: 0;  /* Eliminar márgenes que puedan afectar la alineación */
  padding: 0; /* Eliminar cualquier padding extra */
  line-height: 1; /* Aseguramos que el texto no esté demasiado alto */
  display: inline-block; /* Deja que el título esté en línea con el icono */
}
.navbar ul li h3:hover {
  border-radius: 5px;
  color: #f8d407;

}

.navbar ul li a svg,
.navbar ul li a img {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Añadimos una transición suave */
  color: inherit; /* Los iconos heredan el color del texto */
}

/* Al hacer hover en los iconos o las imágenes (como la Excavadora) */
.navbar ul li a:hover svg,
.navbar ul li a:hover img {
  opacity: 1; /* No cambia la opacidad de los iconos */
  transform: none; /* No aumenta el tamaño de los iconos */
}
.navbar img,
.navbar svg {
  width: 45px;
  height: 40px;
  margin-right: 8px;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.hamburger div {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
  }
  .navbar img,
  .navbar svg {
    width: 25px;
    height: 20px;
    margin-right: 8px;
  }
  .navbar-collapse.show ul {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
  .company-link {
    font-size: 1rem;
    font-weight: bold;
    color: #010101;
    text-decoration: none;
  }
}
