/* Estilos generales para el Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.company-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #010101;
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0 20px;
  font-size: 1rem;
}

.navbar ul li {
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.title_nav {
  font-size: 0.8rem;
}

.navbar ul li:hover {
  background-color: #050505a6;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s, background-color 0.3s ease;
}

.navbar ul li h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
}

.navbar ul li h3:hover {
  border-radius: 5px;
  color: #f8d407;
}

.navbar img,
.navbar svg {
  width: 45px;
  height: 40px;
  margin-right: 8px;
}

/* Estilos para el icono de la hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.hamburger div {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s ease;
}

/* Media Query para el rango de 1000px a 1212px */
@media (max-width: 1212px) {
  .navbar ul {
    display: none;  /* Los enlaces estarán ocultos por defecto */
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
  }

  .navbar-collapse.show ul {
    display: flex; /* Cuando se abre el menú hamburguesa */
  }

  .hamburger {
    display: flex; /* Mostrar la hamburguesa */
  }

  .navbar img,
  .navbar svg {
    width: 25px;
    height: 20px;
    margin-right: 8px;
  }

  .company-link {
    font-size: 1rem;
    font-weight: bold;
    color: #010101;
    text-decoration: none;
  }
}

/* Media Query para pantallas más pequeñas, por ejemplo, menos de 1000px */
@media (max-width: 1000px) {
  /* Aquí las reglas ya no son necesarias, ya que son cubiertas por la media query anterior */
}
