/* Estilos para el contenedor principal */
.contactos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Estilos para la imagen de fondo */
.imagen-contacto {
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: cover;
  margin-bottom: 50px;
}

.conteiner-contacto p {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: brown;
}

.conteiner-contacto h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Estilos para el contenedor del formulario */
.formulario {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para el contenedor del formulario con fondo */
.form-container {
  padding: 40px 30px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(247, 248, 248);
}

/* Estilo para los inputs y campos de texto */
.mb-3 input[type="text"],
.mb-3 input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.form-check {
  padding-top: 20px;
}

.form-3 textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  resize: none;
}

/* Estilos para el botón del formulario */
.button-form {
  background-color: rgba(210, 50, 10, 1);
  color: white;
  border: 1px solid rgba(210, 50, 10, 1);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button-form:hover {
  background-color: transparent;
  color: rgba(210, 50, 10, 1);
}

/* Media Query para pantallas medianas (como tabletas) */
@media (max-width: 768px) {
  .imagen-contacto {
    width: 100%;
    max-height: 40vh;
  }

  .formulario {
    width: 100%;
    padding: 20px;
  }

  .form-container {
    width: 90%;
    padding: 20px;
  }

  .button-form {
    font-size: 14px;
  }
}

/* Media Query para pantallas pequeñas (como móviles) */
@media (max-width: 576px) {
  .imagen-contacto {
    width: 100%;
    max-height: 35vh;
  }

  .conteiner-contacto h4 {
    font-size: 1.2rem;
  }

  .conteiner-contacto p {
    font-size: 1rem;
  }

  .form-container {
    width: 100%;
    padding: 10px;
  }
.form-check-label{
  font-size: 0.9rem;
}
  .mb-3 input[type="text"],
  .mb-3 input[type="email"],
  .form-3 textarea {
    font-size: 0.9rem;
    padding: 8px;
  }

  .button-form {
    font-size: 14px;
    padding: 8px 16px;
  }
}
