/* Estilos generales para la galería */
.contenedor_imaganes {
  background-color: #0c343d;
  margin-bottom: 30px; /* Reducir el margen inferior */
  overflow: hidden; /* Evita que se desborden fuera del contenedor */
  padding: 40px 0;
}

/* Contenedor de información de la imagen (título y descripción) */
.imagen-info {
  position: absolute;
  bottom: 10px;
  color: white;
  padding: 0 10px;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* Degradado en el fondo */
}

.imagen-titulo {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: white;
}

.imagen-descripcion {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0;
  color: white;
}



/* Estilo de la galería: estructura de imágenes */
.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr) !important; /* 4 columnas por defecto */
  gap: 10px; /* Espacio entre las imágenes */
  grid-auto-rows: 230px; /* Ajustar la altura de las filas */
  width: 100%;
  max-width: 100%; /* Hacer que la galería se ajuste al tamaño disponible */
  overflow: hidden; /* Evita desbordamientos de las imágenes */
}

/* Estilo para cada imagen dentro de la galería */
.imagen-item {
  padding: 0; /* Elimina el espacio entre los elementos */
  margin: 0; /* Elimina el margen entre los elementos */
  position: relative; /* Necesario para el posicionamiento de la información */
}

.imagen {
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: 100%; /* La imagen ocupará el 100% del alto del contenedor */
  object-fit: cover; /* Asegura que la imagen se ajuste completamente sin recortarse */
  object-position: center; /* Centra la imagen dentro del contenedor */
  background-color: #000; /* Fondo para las áreas vacías */
  max-width: 100%; /* Evita que las imágenes se estiren más allá del contenedor */
  max-height: 100%; /* Limita la altura máxima para que no se desborden */
}


/* Media Queries para pantallas medianas y pequeñas */

/* Pantallas medianas: 3 columnas (1024px y menos) */
@media (max-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr) !important; /* 3 columnas en pantallas medianas */
    grid-auto-rows: 150px; /* Ajusta la altura de las filas */
  }
  .imagen {
    max-height: 150px; /* Limita la altura de las imágenes en pantallas medianas */
  }
}

/* Pantallas pequeñas: 2 columnas (768px y menos) */
@media (max-width: 768px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas más pequeñas */
    grid-auto-rows: 150px; /* Ajusta la altura de las filas */
  }
  .imagen {
    max-height: 220px; /* Limita la altura de las imágenes en pantallas pequeñas */
    object-fit: cover;

  }
  .imagen-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: white;
  }
  .imagen-descripcion {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 100;
    color: white;
  }
}

/* Pantallas muy pequeñas: 1 columna (480px y menos) */
@media (max-width: 480px) {
  .galeria {
    grid-template-columns: 1fr !important; /* 1 columna en pantallas muy pequeñas */
    grid-auto-rows: 200px; /* Ajusta la altura de las filas */
  }
  .imagen {
    max-height: 200px; /* Limita la altura de las imágenes en pantallas muy pequeñas */
  }
  .imagen-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: white;
  }
  .imagen-descripcion {
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 100;
    color: white;
  }
}
