.contenedor-main{
  background-color: white;
}

.title {
    display: flex; /* Usamos Flexbox para alinear los elementos */
    flex-direction: column; /* Asegura que los títulos se apilen uno encima del otro */
    align-items: center; /* Centra los títulos horizontalmente */
    justify-content: center; /* Centra los títulos verticalmente dentro del contenedor */
    margin: 0 10%;
    padding-top: 30px;
    text-align: center; /* Alinea el texto al centro */
    box-shadow: 0 -5px 15px 5px #0c343d, /* Sombra más gruesa en la parte superior */
    0 5px 10px 3px rgba(0, 0, 0, 0.2); /* Sombra más suave en la parte inferior */
    position: relative; /* Permite que puedas ajustar el z-index y posicionar el contenedor sobre otros elementos */
    z-index: 10;

  }
  .title h4{
    font-weight: bold;
    font-size: 2.6rem;
    padding: 20px 0;
    line-height: 50px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  
  .main-p{
    font-size: 1.4rem;

  }

  .title-mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px 0;
    font-size: 1.8rem;
  }
  @media (max-width: 760px){
    .title-mapa{
      font-size: 1.2rem;
    }
    .title h2{
      font-size: 2.5rem;
    }
    .main-p{
      margin: 0 10px;
    }
    .title{
      padding-top: 5px;
    }
    .title h4{
      font-size: 1.3rem;
      padding: 8px 0;
    }
  }
  @media (max-width: 480px){
    .title-mapa{
      font-size: 1rem;
    }
    .title h2 {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .main-p{
    font-size: 0.9rem;
    }
   
  }